<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString" connectionString="Data Source=DESKTOP-0I4E1BF\SQLEXPRESS;Initial Catalog=MiniFacebook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab_1.Properties.Settings.MiniFacebookConnectionString"
            connectionString="Data Source=DESKTOP-0I4E1BF\SQLEXPRESS;Initial Catalog=MiniFacebook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
    <appSettings>
      <add key="select1" value="SELECT * FROM Users"/> 
      <add key="table1" value="User"/>
      <!--
      <add key="select2" value="SELECT * FROM Review"/>
      <add key="table2" value="Review"/>
      <add key="foreignKey" value="FK_ClientUser_Review"/>-->
      <add key="select2" value="SELECT * FROM Posts"/>
      <add key="table2" value="Post"/>
      <add key="foreignKey" value="FK_Users_Posts"/>
      <add key="column1" value="UId"/>
    </appSettings>
</configuration>